body {
    margin: 0;
    font-family: Arial, sans-serif;
    background:url("../assets/wall1.jpg") no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

header {
    background-color: rgba(255, 255, 255, 0.336);
    backdrop-filter: blur(10px); 
    width: 50%;
    margin: 0 auto;
}

nav {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul li span {
    margin-left: 10px;
}

.logo {
    font-size: 24px;
    color: #000;
    text-decoration: none;
}

#datetime {
    font-size: 20px;
    font-weight: bold;
}

/* Style for the background button */
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 20px;
}

button:hover {
    background-color: #2980b9;
}